---
import { Image } from "astro:assets";
import skapi from "../../assets/projects/skapi.png";

interface Props {
  title: string;
  description: string;
  url: string;
  color: string;
  imageOnLeft?: boolean;
}

const {
  imageOnLeft = false,
  title,
  description,
  url,
  color,
}: Props = Astro.props;
---

<script>
  const projectCards = document.querySelectorAll(".project-card");
  projectCards.forEach((card) => {
    card.addEventListener("mouseenter", function () {
      const content = this.querySelector(".project-card__content-bottom");
      content.classList.add("content-hovered");
    });
    card.addEventListener("mouseleave", function () {
      const content = this.querySelector(".project-card__content-bottom");
      content.classList.remove("content-hovered");
    });
  });
</script>

<a href="projects/skapi" class="project-card mb-4">
  <div
    class={`project-card__body ${
      imageOnLeft ? "project-card__body--image-left" : ""
    }`}
  >
    <div class="project-card__text">
      <div class="project-card__title-group text-sans-bold">
        <h2 class="project-card__title" style={`--color: ${color};`}>
          {title}
        </h2>
      </div>

      <div class="">
        <div class="project-card__content flex flex-col justify-between">
          <div class="project-card__content-left">
            <p class="text-sans project-desctiption">{description}</p>
          </div>

          <div class="project-card__content-bottom mt-3">
            <div class="text-container flex flex-row">
              <p class="text-serif link-text">view project</p>
              <span class="arrow arrow flex items-center ml-3"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="12"
                  viewBox="0 0 14 9"
                  fill="none"
                >
                  <path
                    d="M-1.96701e-07 4.5C-2.08772e-07 4.22386 0.223857 4 0.5 4L12.2929 4L9.14645 0.853553C8.95118 0.658291 8.95118 0.341708 9.14645 0.146446C9.34171 -0.0488171 9.65829 -0.0488171 9.85355 0.146446L13.8536 4.14645C14.0488 4.34171 14.0488 4.65829 13.8536 4.85355L9.85355 8.85355C9.65829 9.04882 9.34171 9.04882 9.14645 8.85355C8.95118 8.65829 8.95118 8.34171 9.14645 8.14645L12.2929 5L0.5 5C0.223857 5 -1.84631e-07 4.77614 -1.96701e-07 4.5Z"
                  ></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class= {`project-card__img ${
      imageOnLeft ? "project-card__img--image-left" : ""
    }`}
    style={`--color: ${color};`}
  >
    <div class="project-card__imgWrap">
      <div class="image">
        <div class="image__frame">
          <Image loading="lazy" src={skapi} alt="The Stephen King API" />
        </div>
      </div>
    </div>
  </div>
</a>

<style>
  .project-card__content-bottom:not(.content-disabled).content-hovered
    .link-text {
    text-shadow: 0 0 0.8333333333vw hsla(49, 51%, 77%, 1);
  }

  .project-card__content-bottom:not(.content-disabled).content-hovered
    .arrow
    svg {
    transform: translateX(0.5rem);
  }

  .project-card__content-bottom:not(.content-disabled).content-hovered
    .arrow
    svg
    path {
    filter: drop-shadow(0 0 0.8333333333vw hsla(49, 51%, 77%, 1));
    fill: #d2ccb5;
    transition: fill 0.4s;
  }

  .project-card__content-left {
    font-size: clamp(14px, calc(0.7rem + 0.6 * ((100vw - 1rem) / 80)), 1.9rem);
  }

  .project-desctiption {
    color: var(--clr-white);
  }

  .project-card__content-bottom {
    position: relative;
    display: inline-flex;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    background: transparent;
  }

  .link-text {
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-position 0.9s;
    transform: translateY(0);
  }

  .arrow svg {
    fill: #d2ccb5a4;
    transition: transform 0.4s;
    transform: translateX(0);
  }
  .arrow svg path {
    transition: fill 0.9s;
  }

  .project-card__body.project-card__body--image-left {
    grid-column: 7/13;
  }

  .project-card__img.project-card__img--image-left {
    grid-column: 1/7;
  }

  .project-card__body {
    grid-column: 2/7;
    position: relative;
    z-index: 2;
    display: flex;
    grid-row: 1/2;
  }

  .project-card__text {
    display: grid;
    align-items: flex-start;
  }

  /* .project-card__img{
    margin-top:2rem;
  } */

  @media (min-width:1000px){
    .project-card__img {
    grid-column: 7/13;
    position: relative;
    z-index: 1;
    grid-row: 1/2;
    opacity: 1;
    visibility: inherit;
    transform: translate(0px, 0px);
  }

  .project-card__img {
    position: relative;
    height: auto;
  }

  .project-card__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    transform: scale(1) translate(0, 0);
    transition: transform 0.4s;
    z-index: 1;
    box-sizing: border-box;
  }

  .project-card__img .image__frame img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    z-index: 2;
  }
  }

  .project-card:hover .project-card__img::before {
    transform: scale(1) translate(-8px, 8px);
  }

  .project-card:hover .project-card__img .image__frame img {
    transform: translate(8px, -8px);
  }

  .project-card {
  }

  @media (min-width: 1000px) {
    .project-card {
    display: grid;
    grid-column-gap: 3rem;
    column-gap: 3rem;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(12, minmax(0, 4fr));
    cursor: pointer;
    will-change: transform;
    }
  }

  .project-card__title {
    font-size: clamp(2rem, calc(2rem + 2 * ((100vw - 48rem) / 80)), 4rem);
    color: var(--color);
    line-height: 1.2;
  }

  .project-card__cat {
    font-size: clamp(14px, calc(0.7rem + 0.6 * ((100vw - 48rem) / 80)), 1.9rem);
    line-height: 1;
  }

  .tool-svg {
    width: 25px;
  }


  @media (min-width: 1200px) {
    img {
      width: 70%;
    }
  }
</style>
